.tooltip {
    border-radius: 2px;
    padding: 4px 8px;
    position: absolute;
    top: 10px;
    z-index: 99999;
    background-color: var(--tooltip-bg-color);
    color: var(--color-white);
    white-space: nowrap;
}
